.title{
  font-family:Happy Monkey;

  font-size: 180%;
  background-image: url(https://cdn.bmstores.co.uk/images/hpcProductImage/imgFull/330651-Arthouse-Diamond-Slate-Grey-Wallpaper.jpg);
background-repeat: no-repeat;
background-size: cover;
padding:10px;


}


h3{
  font-size: 300%;
  font-family: Sacramento;
}
p{
  font-size:130%;
  font-family:Cormorant Upright;
}
li{
  font-size: 150%;
  font-family: Cormorant Upright;
}
a{
  text-decoration: none;
  color: red;
}
body{
  padding:50px
}
#division{
  background-color: pink;
border-radius: 100px;
  padding:40px;
  opacity: 0.8;


}
#second{
  background-color: green;
  padding:20px;
  border-radius: 100px;
opacity:0.8;
}
#column{

  background-color: orange;
  border-radius: 50px;
  opacity:0.8;
}
.one{
  text-align:left;
  font-family:Cormorant Upright;
}
